@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

#root {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

h4 {
  color: #000;
  padding-bottom: 10px;
  font-weight: bolder;
}
h4::after {
  content: "";
  height: 2px;
  width: 170px;
  display: block;
  background-color: rgb(234, 75, 18);
  margin-top: 5px;
}
a {
  text-decoration: none;
}
h5::after {
  content: "";
  height: 2px;
  width: 170px;
  display: block;
  background-color: rgb(234, 75, 18);
  margin-top: 10px;
}
