.carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.cardImage {
    width: 225px;
}
.slick-slide {
    width: 250px;
}

.slick-prev, .slick-next {
    background: white;
}
.slick-prev:before, .slick-next:before {
    color: black;
}